#branding{
    background-image: url("uplight_banner.jpg");
   height:100%;
    width: 100%;
}
.hidden{
    display: none;
}
#services .media-body p{
    height: 3.5em;
    margin-bottom: 1em;
}
.navbar-brand>img{
    width: 20px;
    height: 20px;
    display: inline;
}

#portfolio .row>.col-md-5>div{
    overflow: hidden;
   /* max-height: 12em;*/
    margin-bottom: 2em;
}
#portfolio .row>.col-md-5>div h4, h5{
   color: inherit;
}

h1.media-heading{
    font-size: 1.5em;
}